$risingVariables: (
  scoreUnicornMatchBg: #{$scoreUnicornMatchBg},
  scoreUnicornMatchFg: #{$scoreUnicornMatchFg},
  scoreMatchBg: #{$scoreMatchBg},
  scoreMatchFg: #{$scoreMatchFg},
  scoreWeakMatchBg: #{$scoreWeakMatchBg},
  scoreWeakMatchFg: #{$scoreWeakMatchFg},
  scoreWeakMismatchBg: #{$scoreWeakMismatchBg},
  scoreWeakMismatchFg: #{$scoreWeakMismatchFg},
  scoreMismatchBg: #{$scoreMismatchBg},
  scoreMismatchFg: #{$scoreMismatchFg},
  scoreTitleColor: #{$scoreTitleColor},
  scoreMinimizeButtonFg: #{$scoreMinimizeButtonFg},
  scoreMinimizeButtonBg: #{$scoreMinimizeButtonBg},
  scoreReportBg: #{$scoreReportBg},

  scoreMatchBgFaint: change-color($color: $scoreMatchBg, $alpha: 0.25),
  scoreWeakMatchBgFaint: change-color($color: $scoreWeakMatchBg, $alpha: 0.25),
  scoreWeakMismatchBgFaint: change-color($color: $scoreWeakMismatchBg, $alpha: 0.25),
  scoreMismatchBgFaint: change-color($color: $scoreMismatchBg, $alpha: 0.25),

  scoreFadedUnicornMatchBg: #{$scoreFadedUnicornMatchBg},
  scoreFadedUnicornMatchFg: #{$scoreFadedUnicornMatchFg},
  scoreFadedMatchBg: #{$scoreFadedMatchBg},
  scoreFadedMatchFg: #{$scoreFadedMatchFg},
  scoreFadedWeakMatchBg: #{$scoreFadedWeakMatchBg},
  scoreFadedWeakMatchFg: #{$scoreFadedWeakMatchFg},
  scoreFadedWeakMismatchBg: #{$scoreFadedWeakMismatchBg},
  scoreFadedWeakMismatchFg: #{$scoreFadedWeakMismatchFg},
  scoreFadedMismatchBg: #{$scoreFadedMismatchBg},
  scoreFadedMismatchFg: #{$scoreFadedMismatchFg},

  scoreStandoutMatchBorderColor: #{$scoreStandoutMatchBorderColor},
  scoreStandoutMatchBgColor: #{$scoreStandoutMatchBgColor},
  scoreStandoutWeakMatchBorderColor: #{$scoreStandoutWeakMatchBorderColor},
  scoreStandoutWeakMatchBgColor: #{$scoreStandoutWeakMatchBgColor},
  scoreStandoutNeutralBorderColor: #{$scoreStandoutNeutralBorderColor},
  scoreStandoutWeakMismatchBorderColor: #{$scoreStandoutWeakMismatchBorderColor},
  scoreStandoutWeakMismatchBgColor: #{$scoreStandoutWeakMismatchBgColor},
  scoreStandoutMismatchBorderColor: #{$scoreStandoutMismatchBorderColor},

  characterImageWrapperBg: #{$characterImageWrapperBg},
  characterGuestbookPostBg: #{$characterGuestbookPostBg},
  characterGuestbookPostBorderColor: #{$characterGuestbookPostBorderColor},
  characterGuestbookReplyBg: #{$characterGuestbookReplyBg},
  characterGuestbookTimestampFg: #{$characterGuestbookTimestampFg},
  characterKinkCustomColor: #{$characterKinkCustomColor},
  characterKinkCustomBorderColor: #{$characterKinkCustomBorderColor},
  characterKinkStockColor: #{$characterKinkStockColor},
  characterKinkStockHighlightedColor: #{$characterKinkStockHighlightedColor},
  characterInfotagColor: #{$characterInfotagColor},

  messageTimeBgColor: #{$messageTimeBgColor},
  messageTimeFgColor: #{$messageTimeFgColor},

  headerBackgroundMaskColor: #{$headerBackgroundMaskColor},

  linkForcedColor: #{$linkForcedColor},
  tabSecondaryFgColor: #{$tabSecondaryFgColor},

  input-bg: #{$input-bg},
  input-color: #{$input-color},
);
